<launch>
    <param name="roadmap_file" textfile="$(find mpc_traj_follower)/roadmap.csv" />
    <param name="distance_can_see" type="double" value="50.0"/>
    <param name="integration_dt" type="double" value="1.0"/>
    
    <node name="perception_node"     pkg="mpc_traj_follower"   type="perception"           output="screen" launch-prefix="gdb -ex run --args"/>
    <node name="vehicle_plant_node"  pkg="mpc_traj_follower"   type="vehicle_plant_model"  output="screen" launch-prefix="gdb -ex run --args"/>
    <node name="plot"                pkg="mpc_traj_follower"   type="plot_vehicle.py"            output="screen"/>
</launch>