<launch>
    <node name="vehicle_plant_node"  pkg="mpc_traj_follower"   type="vehicle_plant_model"  output="screen"/>
    <node name="pnc_node"            pkg="mpc_traj_follower"   type="pnc"                  output="screen"/>
    <node name="perception_node"     pkg="mpc_traj_follower"   type="perception"           output="screen"/>
</launch>